* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 40%;
  height: 400px;
  margin: 50px auto;
  border: 1px solid #000;
}

.tablink {
  background-color: #fff;
  text-align: left;
  color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  border-bottom: 1px solid #000;
}

.tablink:first-child {
  border-right: 1px solid #000;
}

.tabcontent {
  color: #000;
  display: block;
  padding: 100px 20px;
  height: 100%;
}

select,
input {
  margin-bottom: 20px;
}

input {
  height: 20px;
}

.btn-submit {
  background-color: #5b9bd5;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
}

#encription {
  margin-bottom: 20px;
}

.active {
  background-color: #5b9bd5;
  color: #fff;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
